/**
 * blue主题
 */
@import (once, reference) "theme.mixins.less";

html {
  .t-blue {
    .t-base (
      @b-color: #000;
      @b-bg-color: #FFF;
      @b-hover-color: #14d26f;
      @b-border-color: #57ebff;
      @b-hover-bg-color: #fffb7a
    );
  }
}